<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="container">
  <form [formGroup]="formData" (ngSubmit)="presentAlert()">
  
    <ion-list>
      <ion-item>
          <ion-input placeholder="My name" clearInput type="text" formControlName="title"></ion-input>
        </ion-item>
    <ion-item>
        <ion-input placeholder="Something cool about me" clearInput type="text" formControlName="description"></ion-input>
    </ion-item>

    <div padding>
      <ion-button color="primary" block type="submit" [disabled]="!formData.valid">Send!</ion-button>
    </div>
  </ion-list>
  </form>

  <ion-list>
      <ion-list-header >Demo Messages</ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://beta.ionicframework.com/docs/content/component-preview-app/docs-www/assets/img/avatar-leia.png" />
      </ion-avatar>
      <ion-label>
        <h2>Leia</h2>
        <h3>You're My Only Hope</h3>
        <p>I've placed information vital to the survival...</p>
      </ion-label>
    </ion-item>
    <ion-list-header >Recent Messages</ion-list-header>
    <ion-item *ngFor="let message of _messages$">
        <ion-avatar slot="start">
            <img src="https://beta.ionicframework.com/docs/content/component-preview-app/docs-www/assets/img/avatar-leia.png" />
          </ion-avatar>
          <ion-label>
            <h2 [innerHTML]="message.name"></h2>
            <h3 [innerHTML]="message.company.catchPhrase"></h3>
            <p [innerHTML]="message.company.bs"></p>
          </ion-label>
      </ion-item>
  </ion-list>

  </div>
</ion-content>

