<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formData" (ngSubmit)="presentAlert()">
  
    <ion-list>
    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input placeholder="My name" type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>About me</ion-label>
      <ion-textarea placeholder="Something cool about me" formControlName="description"></ion-textarea>
    </ion-item>
  </ion-list>

    <div padding>
      <ion-button color="primary" block type="submit" [disabled]="!formData.valid">Send!</ion-button>
    </div>
  </form>
</ion-content>